{% comment %}
  Renders guitar brands carousel

  Usage:
  {% render 'guitar-brands-carousel' %}
{% endcomment %}

{% assign icon_width = 250 %}
{% assign icon_height = 200 %}

{{ 'component-brands-carousel.css' | asset_url | stylesheet_tag }}
<script src="{{ 'brands-carousel.js' | asset_url }}" defer="defer"></script>

<h4 class="brands-carousel__title">Shop by Brand</h4>
<div class="brands-carousel">
  <div class="brands-carousel__container">
    {% for i in (1..12) %}
      {% assign image = settings["brand_" | append: i | append: "_image"] %}
      {% assign link = settings["brand_" | append: i | append: "_link"] %}
      {% if image %}
        <div class="brands-carousel__item">
          <a href="{{ link }}">
            <img
              src="{{ image | asset_url }}"
              alt="Brand {{ i }}"
              class="brands-carousel"
              width="{{ icon_width }}"
              height="{{ icon_height }}"
            >
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
