{% comment %}
  Lightbox HTML

    Usage:
  {% section 'product-lightbox' %}
{% endcomment %}

{{ 'product-lightbox.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-lightbox.js' | asset_url }}" defer></script>

{% assign image_width = 200 %}
{% assign image_height = 200 %}

{% assign image = section.settings.product_image %}

<div id="product-lightbox" class="lightbox" style="display: none;">
  <div class="lightbox-content">
    <span class="close-button" id="close-lightbox">&times;</span>
    <a href="products/{{ section.settings.product_url }}">
      {{
        image
        | image_url: width: image_width, height: image_height
        | image_tag: class: 'product-carousel__image', alt: product.title
      }}
      <h2 class="lightbox-title">{{ section.settings.product_title }}</h2>
      <p class="lightbox-text">{{ section.settings.title }}</p>
    </a>

    <a href="/collections/all" class="cta-button">{{ section.settings.cta_text }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Product Lightbox",
  "settings": [
    {
      "type": "header",
      "content": "Add a lightbox popup"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Text for the lightbox",
      "default": "Check it out!"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA text of the lightbox",
      "default": "View now!"
    },
    {
      "type": "image_picker",
      "id": "product_image",
      "label": "product image"
    },
    {
      "type": "product",
      "id": "product_url",
      "label": "product url"
    },
    {
      "type": "text",
      "id": "product_title",
      "label": "product title"
    }
  ],
  "presets": [
    {
      "name": "Product Lightbox",
      "category": "Custom"
    }
  ]
}
{% endschema %}
